<%= form_for(@equipo) do |f| %>
  <% if @equipo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipo.errors.count, "error") %> prohibited this equipo from being saved:</h2>

      <ul>
      <% @equipo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :modelo %><br>
    <%= f.text_field :modelo %>
  </div>
  <div class="field">
    <%= f.label :fabricante %><br>
    <%= f.text_field :fabricante %>
  </div>
  <div class="field">
    <%= f.label :funcion %><br>
    <%= f.text_field :funcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
